---
import espirituJoven from '../../public/espirituJovenV2.svg';
import transparencia from '../../public/transparenciaV2.svg';
import profecionalismo from '../../public/profecionalismoV2.svg';
import espírituEmprendedor from '../../public/espírituEmprendedorV2.svg';
import ejemplo from '../../public/ejemploV2.svg';
import eficiencia from '../../public/eficienciaV2.svg';
---

<div class={`mobile_kuepa_attitude_container`}>
    <div class={`title`}>Actitudes Kuepa</div>
    <div class={`description`}>Las actitudes que destacan a nuestros estudiantes de Kuepa</div>
    <div class={`main_card_container`}>
        <div id={`attitude_custom_carrousel`} class={`custom_carrousel`}>
            {
                [
                    {
                        icon: espirituJoven,
                        title: `Espíritu joven`,
                        description: ` "One day you'll leave this world behind
              So live a life you will remember."`,
                        name: `-The nights, Avicii`,
                    },
                    {
                        icon: transparencia,
                        title: `Transparencia`,
                        description: `"Tell me your secrets and ask me your questions ."`,
                        name: `-The scientist, Coldplay`,
                    },
                    {
                        icon: profecionalismo,
                        title: `Profesionalismo`,
                        description: ` “So many times,
              it happens too fast
              You trade your passion for glory
              Don't lose your grip on the dreams of the past
              You must fight just to keep them alive”`,
                        name: ` -Eye of the tiger, Survivor`,
                    },
                    {
                        icon: espírituEmprendedor,
                        title: `Espíritu Emprendedor`,
                        description: `"Tonight is the night, we'll fight
              'til it's over
              So we put our hands up
              Like the ceiling can't hold us"`,
                        name: `-Can't Hold Us,
              Macklemore & Ryan Lewis`,
                    },
                    {
                        icon: ejemplo,
                        title: `Ejemplo`,
                        description: ` “Work it harder
              Make it better
              Do it faster
              Makes us stronger
              More than ever
              Hour after
              Our work is
              Never over”`,
                        name: `-Harder, Better, Faster, Stronger,  Daft Punk`,
                    },
                    {
                        icon: eficiencia,
                        title: ` Eficiencia en el delivery`,
                        description: `“La suerte es amiga de la acción”`,
                        name: `-Casi q' me pierdo, Los Cafres`,
                    },
                ]?.map((item, index) => (
                    <div id={`attitude_card_${index}`} class={`attitude_card`}>
                        <div class={`top`}>
                            <div class={`icon`}>
                                <img src={item?.icon.src} alt="" width="28px" height="28px" />
                            </div>
                            <div class={`text`}>{item?.title}</div>
                        </div>
                        <div class={`middle`}>{item?.description}</div>
                        <div class={`bottom`}>{item?.name}</div>
                    </div>
                ))
            }
        </div>
    </div>
    <div class={`attitude_carrousel_navigation`}>
        <div id={`attitude_navigation_1`} class={`attitude_navigation`}></div>
        <div id={`attitude_navigation_2`} class={`attitude_navigation`}></div>
        <div id={`attitude_navigation_3`} class={`attitude_navigation`}></div>
        <div id={`attitude_navigation_4`} class={`attitude_navigation`}></div>
        <div id={`attitude_navigation_5`} class={`attitude_navigation`}></div>
        <div id={`attitude_navigation_6`} class={`attitude_navigation`}></div>
    </div>
</div>

<script type="module" src="/src/javascript/KuepaAttitude.js"></script>
