---
import methodologyM1 from '../../public/methodologyM1.svg';
import methodologyM2 from '../../public/methodologyM2.svg';
import methodologyM3 from '../../public/methodologyM3.svg';
import methodologyM4 from '../../public/methodologyM4.svg';
---

<div class={`mobile_methodology_container`}>
    <div class={`title`}>Metodología</div>
    <div class={`subtitle`}>
        <div class={`top`}>
            La metodología Kuepa combina tecnología de punta, modelos pedagógicos contemporáneos y análisis de datos para lograr la combinación de
            calidad y asequibilidad que necesitas en tu formación.
        </div>
        <div class={`bottom`}>Aquí te contamos las 4 claves de nuestro modelo académico:</div>
    </div>
    <div id={`methodoly_custom_carrousel`} class={`methodoly_custom_carrousel`}>
        <div id={`methodology_card_last`} class={`first ignored`}>
            <img class={`background_img`} src={methodologyM4.src} alt="" />
        </div>
        <div id={`methodology_card_1`} class={`methodology_card active`}>
            <img class={`background_img`} src={methodologyM1.src} alt="" />
        </div>
        <div id={`methodology_card_2`} class={`methodology_card`}>
            <img class={`background_img`} src={methodologyM2.src} alt="" />
        </div>
        <div id={`methodology_card_3`} class={`methodology_card`}>
            <img class={`background_img`} src={methodologyM3.src} alt="" />
        </div>
        <div id={`methodology_card_4`} class={`methodology_card`}>
            <img class={`background_img`} src={methodologyM4.src} alt="" />
        </div>
        <div id={`methodology_card_first`} class={`ignored`}>
            <img class={`background_img`} src={methodologyM1.src} alt="" />
        </div>
    </div>
    <div class={`carrousel_navigation`}>
        <div id={`methodology_navigation_1`} class={`methodology_navigation active`}></div>
        <div id={`methodology_navigation_2`} class={`methodology_navigation`}></div>
        <div id={`methodology_navigation_3`} class={`methodology_navigation`}></div>
        <div id={`methodology_navigation_4`} class={`methodology_navigation`}></div>
    </div>
</div>


<script type="module" src="/src/javascript/Methodology.js"></script>