---
import close from '../../public/close.svg';
import katrinAvatar from '../../public/katrinAvatar.svg';
import samuelAvatar from '../../public/samuelAvatar.svg';
import alisonAvatar from '../../public/alisonAvatar.svg';
import niniAvatar from '../../public/niniAvatar.svg';
import jonathanAvatar from '../../public/jonathanAvatar.svg';
import play from '../../public/play.svg';
import cuotes from '../../public/cuotes.svg';
---

<div class={`mobile_our_stories_container`}>
    <div class={'title_container'}>
        <div class={'title'}>Nuestras historias</div>
        <div class={'subtitle'}>¿Qué opinan nuestros estudiantes?</div>
    </div>
    <div class={`scrolls_container`}>
        <div class={`scroll animate`}>
            <div class={`item`}>
                <div class={`cuotes`}>
                    <img src={cuotes.src} alt="" width="64px" height="51px" />
                </div>
                <div class={`text`}>
                    "Gracias Kuepa por la oportunidad, y el crecimiento que me llevo. Ha aportado muchas cosas positivas, actualmente ya me gradué y
                    me encuentro trabajando y lo mas importante es que estoy ejerciendo lo que estudie. "
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={katrinAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Katrin Moreno</div>
                        <div class={`program`}>Técnico Auxiliar administrativo</div>
                    </div>
                </div>
            </div>
            <div class={`item clickeable clickeable_samuelVideo`}>
                <div class={`cuotes`}></div>
                <div class={`text`}>
                    <img src={play.src} alt="" width="100px" height="100px" />
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={samuelAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Samuel Poveda</div>
                        <div class={`program`}>Bachillerato</div>
                    </div>
                </div>
            </div>
            <div class={`item`}>
                <div class={`cuotes`}>
                    <img src={cuotes.src} alt="" width="64px" height="51px" />
                </div>
                <div class={`text`}>
                    "Hay muchas oportunidades , tienen que salir y buscar otras opciones que les quiten menos tiempo, soy deportista de patinaje de
                    alta velocidad y Kuepa me permitió estudiar y no descuidar mi deporte y llevar ambas en un mismo nivel ¡Gracias Kuepa!"
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={alisonAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Alison Cardozo</div>
                        <div class={`program`}>Virtual y deportista</div>
                    </div>
                </div>
            </div>
            <div class={`item clickeable clickeable_niniVideo`}>
                <div class={`cuotes`}></div>
                <div class={`text`}>
                    <img src={play.src} alt="" width="100px" height="100px" />
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={niniAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Nini Castro</div>
                        <div class={`program`}>Técnico auxiliar administrativo</div>
                    </div>
                </div>
            </div>
            <div class={`item`}>
                <div class={`cuotes`}>
                    <img src={cuotes.src} alt="" width="64px" height="51px" />
                </div>
                <div class={`text`}>
                    "Me impulso demasiado a seguir estudiando, es una excelente oportunidad de crecimiento laboral, personal y profesional. No era
                    partidario de la virtualidad pero acá tienen alternancia de venir un día y compartir con mis compañeros”
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={jonathanAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Jonathan Niño</div>
                        <div class={`program`}>Mercadeo y Ventas</div>
                    </div>
                </div>
            </div>
        </div>
        <div class={`scroll animate last`}>
            <div class={`item`}>
                <div class={`cuotes`}>
                    <img src={cuotes.src} alt="" width="64px" height="51px" />
                </div>
                <div class={`text`}>
                    "Gracias Kuepa por la oportunidad, y el crecimiento que me llevo. Ha aportado muchas cosas positivas, actualmente ya me gradué y
                    me encuentro trabajando y lo mas importante es que estoy ejerciendo lo que estudie. "
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={katrinAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Katrin Moreno</div>
                        <div class={`program`}>Técnico Auxiliar administrativo</div>
                    </div>
                </div>
            </div>
            <div class={`item clickeable clickeable_samuelVideo`}>
                <div class={`cuotes`}></div>
                <div class={`text`}>
                    <img src={play.src} alt="" width="100px" height="100px" />
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={samuelAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Samuel Poveda</div>
                        <div class={`program`}>Bachillerato</div>
                    </div>
                </div>
            </div>
            <div class={`item`}>
                <div class={`cuotes`}>
                    <img src={cuotes.src} alt="" width="64px" height="51px" />
                </div>
                <div class={`text`}>
                    "Hay muchas oportunidades , tienen que salir y buscar otras opciones que les quiten menos tiempo, soy deportista de patinaje de
                    alta velocidad y Kuepa me permitió estudiar y no descuidar mi deporte y llevar ambas en un mismo nivel ¡Gracias Kuepa!"
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={alisonAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Alison Cardozo</div>
                        <div class={`program`}>Virtual y deportista</div>
                    </div>
                </div>
            </div>
            <div class={`item clickeable clickeable_niniVideo`}>
                <div class={`cuotes`}></div>
                <div class={`text`}>
                    <img src={play.src} alt="" width="100px" height="100px" />
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={niniAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Nini Castro</div>
                        <div class={`program`}>Técnico auxiliar administrativo</div>
                    </div>
                </div>
            </div>
            <div class={`item`}>
                <div class={`cuotes`}>
                    <img src={cuotes.src} alt="" width="64px" height="51px" />
                </div>
                <div class={`text`}>
                    "Me impulso demasiado a seguir estudiando, es una excelente oportunidad de crecimiento laboral, personal y profesional. No era
                    partidario de la virtualidad pero acá tienen alternancia de venir un día y compartir con mis compañeros”
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={jonathanAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Jonathan Niño</div>
                        <div class={`program`}>Mercadeo y Ventas</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id={`custom_video_player`} class={`custom_video_player custom_hidden`}>
        <div class={`content`}>
            <div id={`close_video_player`} class={`close_button`}>
                <img src={close.src} alt="" width="16px" height="16px" />
            </div>
            <video id={`story_player`} controls></video>
        </div>
    </div>
</div>

<script>
    document.getElementById(`close_video_player`).addEventListener(`click`, () => {
        document.getElementById(`custom_video_player`).classList.add(`custom_hidden`);
    });
    [...document.getElementsByClassName(`clickeable_samuelVideo`)]?.map((item) => {
        item.addEventListener(`click`, () => {
            document.getElementById(`custom_video_player`).classList.remove(`custom_hidden`);
            document.getElementById(`story_player`).src = 'https://d1lkn153fcyomr.cloudfront.net/AtZJPsLvZTrSBAflSB1N.mp4';
        });
    });
    [...document.getElementsByClassName(`clickeable_niniVideo`)]?.map((item) => {
        item.addEventListener(`click`, () => {
            document.getElementById(`custom_video_player`).classList.remove(`custom_hidden`);
            document.getElementById(`story_player`).src = 'https://d1lkn153fcyomr.cloudfront.net/mkNiBjkW9A0XpcDOxbeQ.mp4';
        });
    });
</script>

<style>
    .mobile_our_stories_container {
        display: flex;
        flex-direction: column;
        height: 646px;
        flex-shrink: 0;
        position: relative;
        overflow: hidden;
        margin: auto;

        .custom_video_player {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: linear-gradient(95deg, rgba(255, 255, 255, 0.2) 5.21%, rgba(255, 255, 255, 0.1) 83.78%);
            box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(20px);
            flex-shrink: 0;
            border-radius: 16px;
            width: 313px;
            height: 256px;
            overflow: hidden;
            padding: 30px 16px 24px 16px;

            &.custom_hidden {
                opacity: 0;
                pointer-events: none;
            }
            .content {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                overflow: visible;
                position: relative;

                video {
                    width: 100%;
                    height: 100%;
                }

                .close_button {
                    z-index: 999;
                    cursor: pointer;
                    position: absolute;
                    top: -20px;
                    right: 0px;
                }
            }
        }

        .title_container {
            .title {
                white-space: nowrap;
                text-align: center;
                font-family: 'Poppins';
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 44px;
                background: linear-gradient(90deg, #fe8c00 0%, #f83600 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .subtitle {
                margin: 12px 0 32px 0;
                color: #fff;
                text-align: center;
                font-family: 'Poppins';
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .scrolls_container {
            display: flex;
            width: fit-content;
            position: relative;

            .scroll {
                display: flex;
            }

            .animate {
                position: absolute;
                top: 0;
                left: 0;
                animation-name: scroll;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-duration: 26s;
            }

            .last {
                opacity: 0;
                animation-delay: 13s;
            }

            &:hover {
                .animate {
                    animation-play-state: paused;
                }
            }
        }

        .item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            justify-content: space-between;
            padding: 24px 26px;
            border-radius: 16px;
            background: linear-gradient(95deg, rgba(255, 255, 255, 0.2) 5.21%, rgba(255, 255, 255, 0.1) 83.78%);
            box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(20px);
            width: 313px;
            height: 370px;
            flex-shrink: 0;
            margin-right: 24px;

            .text {
                color: #fff;
                font-family: 'Poppins';
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 25px;
            }

            .cuotes {
                display: flex;
                width: 100%;
            }

            .user_container {
                display: flex;
                align-items: center;
                width: 100%;

                .avatar {
                    width: 32px;
                    min-width: 32px;
                    height: 32px;
                    min-height: 32px;
                    margin-right: 12px;
                }

                .name_program {
                    display: flex;
                    flex-direction: column;

                    .name {
                        color: #fd531e;
                        text-align: left;
                        font-family: 'Poppins';
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 22px;
                    }

                    .program {
                        color: #fd531e;
                        text-align: left;
                        font-family: 'Poppins';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 22px;
                    }
                }
            }
        }
    }
</style>
