---
import close from '../../public/close.svg';
import katrinAvatar from '../../public/katrinAvatar.svg';
import samuelAvatar from '../../public/samuelAvatar.svg';
import alisonAvatar from '../../public/alisonAvatar.svg';
import niniAvatar from '../../public/niniAvatar.svg';
import jonathanAvatar from '../../public/jonathanAvatar.svg';
import play from '../../public/play.svg';
import cuotes from '../../public/cuotes.svg';
---

<div class={`mobile_our_stories_container`}>
    <div class={'title_container'}>
        <div class={'title'}>Nuestras historias</div>
        <div class={'subtitle'}>¿Qué opinan nuestros estudiantes?</div>
    </div>
    <div class={`scrolls_container`}>
        <div class={`scroll animate`}>
            <div class={`item`}>
                <div class={`cuotes`}>
                    <img src={cuotes.src} alt="" width="64px" height="51px" />
                </div>
                <div class={`text`}>
                    "Gracias Kuepa por la oportunidad, y el crecimiento que me llevo. Ha aportado muchas cosas positivas, actualmente ya me gradué y
                    me encuentro trabajando y lo mas importante es que estoy ejerciendo lo que estudie. "
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={katrinAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Katrin Moreno</div>
                        <div class={`program`}>Técnico Auxiliar administrativo</div>
                    </div>
                </div>
            </div>
            <div class={`item clickeable clickeable_samuelVideo`}>
                <div class={`cuotes`}></div>
                <div class={`text`}>
                    <img src={play.src} alt="" width="100px" height="100px" />
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={samuelAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Samuel Poveda</div>
                        <div class={`program`}>Bachillerato</div>
                    </div>
                </div>
            </div>
            <div class={`item`}>
                <div class={`cuotes`}>
                    <img src={cuotes.src} alt="" width="64px" height="51px" />
                </div>
                <div class={`text`}>
                    "Hay muchas oportunidades , tienen que salir y buscar otras opciones que les quiten menos tiempo, soy deportista de patinaje de
                    alta velocidad y Kuepa me permitió estudiar y no descuidar mi deporte y llevar ambas en un mismo nivel ¡Gracias Kuepa!"
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={alisonAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Alison Cardozo</div>
                        <div class={`program`}>Virtual y deportista</div>
                    </div>
                </div>
            </div>
            <div class={`item clickeable clickeable_niniVideo`}>
                <div class={`cuotes`}></div>
                <div class={`text`}>
                    <img src={play.src} alt="" width="100px" height="100px" />
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={niniAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Nini Castro</div>
                        <div class={`program`}>Técnico auxiliar administrativo</div>
                    </div>
                </div>
            </div>
            <div class={`item`}>
                <div class={`cuotes`}>
                    <img src={cuotes.src} alt="" width="64px" height="51px" />
                </div>
                <div class={`text`}>
                    "Me impulso demasiado a seguir estudiando, es una excelente oportunidad de crecimiento laboral, personal y profesional. No era
                    partidario de la virtualidad pero acá tienen alternancia de venir un día y compartir con mis compañeros”
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={jonathanAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Jonathan Niño</div>
                        <div class={`program`}>Mercadeo y Ventas</div>
                    </div>
                </div>
            </div>
        </div>
        <div class={`scroll animate last`}>
            <div class={`item`}>
                <div class={`cuotes`}>
                    <img src={cuotes.src} alt="" width="64px" height="51px" />
                </div>
                <div class={`text`}>
                    "Gracias Kuepa por la oportunidad, y el crecimiento que me llevo. Ha aportado muchas cosas positivas, actualmente ya me gradué y
                    me encuentro trabajando y lo mas importante es que estoy ejerciendo lo que estudie. "
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={katrinAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Katrin Moreno</div>
                        <div class={`program`}>Técnico Auxiliar administrativo</div>
                    </div>
                </div>
            </div>
            <div class={`item clickeable clickeable_samuelVideo`}>
                <div class={`cuotes`}></div>
                <div class={`text`}>
                    <img src={play.src} alt="" width="100px" height="100px" />
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={samuelAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Samuel Poveda</div>
                        <div class={`program`}>Bachillerato</div>
                    </div>
                </div>
            </div>
            <div class={`item`}>
                <div class={`cuotes`}>
                    <img src={cuotes.src} alt="" width="64px" height="51px" />
                </div>
                <div class={`text`}>
                    "Hay muchas oportunidades , tienen que salir y buscar otras opciones que les quiten menos tiempo, soy deportista de patinaje de
                    alta velocidad y Kuepa me permitió estudiar y no descuidar mi deporte y llevar ambas en un mismo nivel ¡Gracias Kuepa!"
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={alisonAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Alison Cardozo</div>
                        <div class={`program`}>Virtual y deportista</div>
                    </div>
                </div>
            </div>
            <div class={`item clickeable clickeable_niniVideo`}>
                <div class={`cuotes`}></div>
                <div class={`text`}>
                    <img src={play.src} alt="" width="100px" height="100px" />
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={niniAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Nini Castro</div>
                        <div class={`program`}>Técnico auxiliar administrativo</div>
                    </div>
                </div>
            </div>
            <div class={`item`}>
                <div class={`cuotes`}>
                    <img src={cuotes.src} alt="" width="64px" height="51px" />
                </div>
                <div class={`text`}>
                    "Me impulso demasiado a seguir estudiando, es una excelente oportunidad de crecimiento laboral, personal y profesional. No era
                    partidario de la virtualidad pero acá tienen alternancia de venir un día y compartir con mis compañeros”
                </div>
                <div class={`user_container`}>
                    <div class={`avatar`}>
                        <img src={jonathanAvatar.src} alt="" width="32px" height="32px" />
                    </div>
                    <div class={`name_program`}>
                        <div class={`name`}>Jonathan Niño</div>
                        <div class={`program`}>Mercadeo y Ventas</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id={`custom_video_player`} class={`custom_video_player custom_hidden`}>
        <div class={`content`}>
            <div id={`close_video_player`} class={`close_button`}>
                <img src={close.src} alt="" width="16px" height="16px" />
            </div>
            <video id={`story_player`} controls></video>
        </div>
    </div>
</div>

<script type="module" src="/src/javascript/OurStories.js"></script>
